<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="layout/basic :: setContent(~{this::content} )">

	<th:block th:fragment="content">

		<header>
			<h2>장소게시판 조회</h2>
		</header>
		<form>
			<div class="form-group">
				<label>제목</label>
				<input type="text" class="form-control" name="title" th:value="${dto.title}" readonly>
			</div>
			<div class="form-group">
				<label>장소</label>
				<input type="text" class="form-control" name="place" th:value="${dto.place}" readonly>
			</div>
			<div class="form-group">
				<label>글 내용</label>
				<textarea class="form-control" rows="5" name="content" th:value="${dto.content}" readonly>[[${dto.content}]]</textarea>
			</div>
			<div class="form-group">
				<label>글쓴이</label>
				<input type="text" class="form-control" name="writer" th:value="${dto.writer}" readonly>
			</div>
			<div class="form-group">
				<label>등록일</label>
				<input type="text" class="form-control"
					th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
			</div>
			
		</form>
			<a th:href="@{/placeboard/modify(no = ${dto.no})}">
				<button type="button" class="btn btn-primary">수정</button>
			</a>

			<!-- 목록페이지 링크 수정 -->
			<a th:href="@{/placeboard/list(page=${page})}">
				<button type="button" class="btn btn-info">목록으로</button>
			</a>

	</th:block>

</th:block>