<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="layout/basic :: setContent(~{this::content} )">

	<th:block th:fragment="content">

		<header>
			<h2>등록하기</h2>
		</header>
		
		<form>
			<div class="form-group">
				<label>제목</label>
				<input type="text" class="form-control" name="title">
			</div>
			<div class="form-group">
				<label for="place">장소</label>
				<select name="place" class="form-select">
					<option value="">장소를 선택해주세요</option>
					<option th:each="dto : ${placelist}"
							th:value="${dto.place}"
							th:text="${dto.place}">
					</option>
				</select>

			</div>
			<div class="form-group">
				<label>내용</label>
				<textarea class="form-control" rows="5" name="content"></textarea>
			</div>
			<div class="form-group">
				<label>작성자</label>
				<input type="text" class="form-control" name="writer" th:value="${dto.writer}" readonly>
			</div>
		</form>

		<button type="submit" class="btn btn-primary registBtn">등록</button>

		<script th:inline="javascript">
			$(document).ready(function () {
				var form = $('form'); // form 태그 객체

				// 등록 버튼 클릭 이벤트 처리
				$('.registBtn').click(function () {
					// 등록 확인 창 띄우기
					if (!confirm('등록하시겠습니까?')) {
						return;
					}

					// 제목, 내용, 장소 값 가져오기
					const title = $('input[name=title]').val();
					const content = $('textarea[name=content]').val();

					// 값이 비어있으면 알림창 띄우고 함수 중단
					if (!title || !content) {
						alert('비어있는 항목을 입력해주세요.');
						return;
					}

					// 폼 데이터 설정 및 전송
					form.attr('action', '/placeboard/register')
						.attr('method', 'post')
						.submit();
				});
			});



		</script>

	</th:block>

</th:block>