<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div class="form-group" id="commentForm">
	<form>
		<input type="hidden" id="placeNo" name="placeNo" value="{{placeNo}}" />
		<textarea id="comment" name="comment" placeholder="댓글을 입력하세요"></textarea>
		<select id="grade" name="grade">
			<option value="1">1점</option>
			<option value="2">2점</option>
			<option value="3">3점</option>
			<option value="4">4점</option>
			<option value="5">5점</option>
		</select>
		<button type="submit">등록</button>
	</form>

</div>