<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{layout/basic :: setContent(~{this::content} )}">

	<th:block th:fragment="content">
	
	
	<div id="map" style="width:130%;height:500px;"></div>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=ab9cyktgjv"></script>

<script th:inline="javascript">
var map = new naver.maps.Map('map', {
    center: new naver.maps.LatLng(37.5129146,127.1028611),
    zoom: 11
});
</script>
<script th:inline="javascript">
var markers = [];
/* DTO에서 좌표 정보를 불러와서 마커 생성 */
var markerDTOs = [[${mapDTOList}]];

for (var i = 0; i < markerDTOs.length; i++) {
    var latlng = new naver.maps.LatLng(markerDTOs[i].point_x, markerDTOs[i].point_y);
    var marker = new naver.maps.Marker({
        position: latlng,
        map: map
    });
    
    
    markers.push(marker);

    var contentString = '<a href="/placeboard/list" div style="padding:20px;">' + markerDTOs[i].place +'        '+ markerDTOs[i].address+ '</a>';

    naver.maps.Event.addListener(marker, "click", createClickListener(contentString, marker));
  }

  function createClickListener(contentString, marker) {
    return function() {
      var infowindow = new naver.maps.InfoWindow({
        content: contentString,
        maxWidth: 140,
        backgroundColor: "#eee",
        borderColor: "#2db400",
        borderWidth: 5,
        anchorSize: new naver.maps.Size(30, 30),
        anchorSkew: true,
        anchorColor: "#eee",
        pixelOffset: new naver.maps.Point(20, -20)
      });
      if (infowindow.getMap()) {
        infowindow.close();
      } else {
        infowindow.open(map, marker);
      }
    };
  }
  
	</script>
	<p>날씨 정보:</p>
      <p id="weather-info"></p>
      <img id="weather-icon" src="" alt="weather icon">
    
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      function getWeather(city) {
        var apiURI = "http://api.openweathermap.org/data/2.5/weather?q="+''+"&appid="+"aa0ea7fbe0c1e13669114c7af508193a";
        $.ajax({
          url: apiURI,
          dataType: "json",
          type: "GET",
          async: "false",
          success: function(resp) {
            console.log(resp);
            console.log("현재온도 : "+ (resp.main.temp- 273.15) );
            console.log("현재습도 : "+ resp.main.humidity);
            console.log("날씨 : "+ resp.weather[0].main );
            console.log("상세날씨설명 : "+ resp.weather[0].description );
            console.log("날씨 이미지 : "+ resp.weather[0].icon );
            console.log("바람   : "+ resp.wind.speed );
            console.log("나라   : "+ resp.sys.country );
            console.log("도시이름  : "+ resp.name );
            console.log("구름  : "+ (resp.clouds.all) +"%" );                 
            
            var imgURL = "http://openweathermap.org/img/w/" + resp.weather[0].icon + ".png";
            $("#html컴포넌트").attr("src", imgURL);
          }
        });
      }
    </script>
  </head>
  <body>
    
      <img src="" alt="날씨 이미지" id="html컴포넌트">
    
	</th:block>
</th:block>