<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{layout/basic :: setContent(~{this::content} )}">

	<th:block th:fragment="content">
	
	
	<div id="map" style="width:130%;height:600px;"></div>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=ab9cyktgjv"></script>

<script th:inline="javascript">
var map = new naver.maps.Map('map', {
    center: new naver.maps.LatLng(37.5129146,127.1028611),
    zoom: 11
});
</script>
<script th:inline="javascript">
var markers = [];
/* DTO에서 좌표 정보를 불러와서 마커 생성 */
var markerDTOs = [[${mapDTOList}]];

for (var i = 0; i < markerDTOs.length; i++) {
    var latlng = new naver.maps.LatLng(markerDTOs[i].point_x, markerDTOs[i].point_y);
    var marker = new naver.maps.Marker({
        position: latlng,
        map: map
    });
    
    
    markers.push(marker);

    var contentString = '<a href="/placeboard/list" div style="padding:20px;">' + markerDTOs[i].place +'        '+ markerDTOs[i].address+ '</a>';

    naver.maps.Event.addListener(marker, "click", createClickListener(contentString, marker));
  }

  function createClickListener(contentString, marker) {
    return function() {
      var infowindow = new naver.maps.InfoWindow({
        content: contentString,
        maxWidth: 140,
        backgroundColor: "#eee",
        borderColor: "#2db400",
        borderWidth: 5,
        anchorSize: new naver.maps.Size(30, 30),
        anchorSkew: true,
        anchorColor: "#eee",
        pixelOffset: new naver.maps.Point(20, -20)
      });
      if (infowindow.getMap()) {
        infowindow.close();
      } else {
        infowindow.open(map, marker);
      }
    };
  }
  
	</script>
	<div>
	<script>
  function loadWeather() {
    var xhr = new XMLHttpRequest();
    var url = "https://apis.data.go.kr/1360000/VilageFcstInfoService/getVilageFcst";
    var queryParams = "?" + encodeURIComponent("ServiceKey") + "=IQB7C38TSfgr5kAovrbwZXmc%2FcHfgBJ9GkvkTeOJ%2FjPnlxfBCO7DIfk%2BjXFzf9k3dZOrCj5ek%2FLHBCBKKpSvHw%3D%3D"; /* Service Key */
    queryParams += "&" + encodeURIComponent("dataType") + "=" + encodeURIComponent("JSON"); /* 응답 데이터 타입 */
    queryParams += "&" + encodeURIComponent("base_date") + "=" + encodeURIComponent("20220405"); /* 발표일 */
    queryParams += "&" + encodeURIComponent("base_time") + "=" + encodeURIComponent("0500"); /* 발표시각 */
    queryParams += "&" + encodeURIComponent("nx") + "=" + encodeURIComponent("60"); /* 예보지점 X 좌표 */
    queryParams += "&" + encodeURIComponent("ny") + "=" + encodeURIComponent("127"); /* 예보지점 Y 좌표 */
    xhr.open("GET", url + queryParams);
    xhr.onreadystatechange = function() {
      if (this.readyState === XMLHttpRequest.DONE) {
        if (this.status === 200) {
          var response = JSON.parse(xhr.responseText);
          console.log(response);
          /* 받은 데이터를 처리하는 코드를 여기에 작성합니다. */
        } else {
          console.error(xhr.statusText);
        }
      }
    }
    xhr.send();
  }
</script>
</div>
	</th:block>
</th:block>