<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{layout/basic :: setContent(~{this::content} )}">

	<th:block th:fragment="content">
	
	
	<div id="map" style="width:130%;height:500px;"></div>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=ab9cyktgjv"></script>

<script th:inline="javascript">
var map = new naver.maps.Map('map', {
    center: new naver.maps.LatLng(37.5129146,127.1028611),
    zoom: 11
});
</script>
<script th:inline="javascript">
var markers = [];
/* DTO에서 좌표 정보를 불러와서 마커 생성 */
var markerDTOs = [[${mapDTOList}]];

for (var i = 0; i < markerDTOs.length; i++) {
    var latlng = new naver.maps.LatLng(markerDTOs[i].point_x, markerDTOs[i].point_y);
    var marker = new naver.maps.Marker({
        position: latlng,
        map: map
    });
    
    
    markers.push(marker);

    var contentString = '<a href="/placeboard/list" div style="padding:20px;">' + markerDTOs[i].place +'        '+ markerDTOs[i].address+ '</a>';

    naver.maps.Event.addListener(marker, "click", createClickListener(contentString, marker));
  }

  function createClickListener(contentString, marker) {
    return function() {
      var infowindow = new naver.maps.InfoWindow({
        content: contentString,
        maxWidth: 140,
        backgroundColor: "#eee",
        borderColor: "#2db400",
        borderWidth: 5,
        anchorSize: new naver.maps.Size(30, 30),
        anchorSkew: true,
        anchorColor: "#eee",
        pixelOffset: new naver.maps.Point(20, -20)
      });
      if (infowindow.getMap()) {
        infowindow.close();
      } else {
        infowindow.open(map, marker);
      }
    };
  }
  
	</script>
	<!--  날씨정보 -->
	<style>	
  .weather-container {
    display: flex;
    justify-content: flex-end;
  	margin-left : 150px;
    justify-content: space-between;
    font-family: 'Noto Sans KR', sans-serif;
  }
  
    .weather-icon i {
        display: block;
       
    }
    

    .weather-date {
    
     font-size: 20px;
     font-weight: bold;
      margin: 10px;
    }

    .current-temp {
    	display: inline;
        font-size: 30px;
        font-weight: bold;
       
    }

    .temp-min,
    .temp-max {
    	font-weight : bold;
        font-size: 20px;
        margin-top: 10px;
    }
  
  .weather-day{
   	font-size:20px;
  	font-weight: bold;
  	}
  .weather-info {
    display: flex;
    flex-direction: column;
  }
    .weather-icon {
    font-size: 5rem; /* 원하는 크기로 조정 */
   
  }
</style>

<div class="current-temp">현재온도<span id="current-temp-value"></span></div>

<div class="weather-container">
  <div class="weather-day">&nbsp;</div>
  <div class="weather-info">
    <div class="weather-icon"></div>
   
    <div class="temp-max"></div>
  </div>
  <div class="weather-day">&nbsp;</div>
  <div class="weather-info">
    <div class="weather-icon"></div>
    <div></div>
    
    <div class="temp-max"></div>
  </div>
  <div class="weather-day">&nbsp;</div>
  <div class="weather-info">
    <div class="weather-icon"></div>
     <div></div>
    
    <div class="temp-max"></div>
  </div>
  <div class="weather-day">&nbsp;</div>
  <div class="weather-info">
    <div class="weather-icon"></div>
   <div></div>
   
    <div class="temp-max"></div>
  </div>
  <div class="weather-day">&nbsp;</div>
  <div class="weather-info">
    <div class="weather-icon"></div>
    <div></div>
    
    <div class="temp-max"></div>
  </div>
  
</div>
<script th:inline="javascript">
  var weatherIcon = {
    '01' : 'fas fa-sun',
    '02' : 'fas fa-cloud-sun',
    '03' : 'fas fa-cloud',
    '04' : 'fas fa-cloud-meatball',
    '09' : 'fas fa-cloud-sun-rain',
    '10' : 'fas fa-cloud-showers-heavy',
    '11' : 'fas fa-poo-storm',
    '13' : 'far fa-snowflake',
    '50' : 'fas fa-smog'
  };

  var apiURI = "https://api.openweathermap.org/data/2.5/forecast?lat=37.511322&lon=127.098146&appid=aa0ea7fbe0c1e13669114c7af508193a&units=metric"
	  $.ajax({
		  url: apiURI,
		  dataType: "json",
		  type: "GET",
		  async: "false",
		  success: function(resp) {
		    var dailyWeather = resp.list.filter(function(weather, index) {
		      return index % 8 === 0;
		    });
		    var $weatherDays = $('.weather-day');
		    var $weatherIcons = $('.weather-icon');
		    var $currentTemps = $('.current-temp');
		    var $tempMins = $('.temp-min');
		    var $tempMaxs = $('.temp-max');

		    for (var i = 0; i < $weatherDays.length; i++) {
		      var date = new Date(dailyWeather[i].dt_txt);
		      var month = date.getMonth() + 1;
		      var day = date.getDate();
		      var $weatherDay = $('<div>').text(month + '/' + day);
		      $weatherDays.eq(i).append($weatherDay);
		      var $weatherIcon = $('<i>').addClass(weatherIcon[dailyWeather[i].weather[0].icon.substr(0, 2)]);
		      $weatherIcons.eq(i).append($weatherIcon);
		      var $currentTemp = $('<div>').text(Math.floor(dailyWeather[i].main.temp) + 'º');
		      $currentTemps.eq(i).append($currentTemp);
		      var $tempMin = $('<div>').text('최저 온도 ' + Math.floor(dailyWeather[i].main.temp_min) + 'ºC');
		      $tempMins.eq(i).append($tempMin);
		      var $tempMax = $('<div>').text('최고 온도 ' + Math.floor(dailyWeather[i].main.temp_max) + 'ºC');
		      $tempMaxs.eq(i).append($tempMax);
		    }
		  }
		});
      </script>

     
	</th:block>
</th:block>