<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{layout/basic :: setContent(~{this::content} )}">

	<th:block th:fragment="content">
	
		<header>
			<h2>장소 정보</h2>
		</header>
		
		<div class="form-group">
            <label >장소</label>
            <input type="text" class="form-control" name="place" th:value="${dto.place}" readonly >
        </div>						         
        
		<div class="form-group">
            <label >주소</label>
            <input type="text" class="form-control" name="address" th:value="${dto.address}" readonly >
        </div>
		<div class="form-group">
            <label >x좌표</label>
            <input type="text" class="form-control" name="point_x" th:value="${dto.point_x}" readonly >
        </div>
		<div class="form-group">
            <label >y좌표</label>
            <input type="text" class="form-control" name="point_y" th:value="${dto.point_y}" readonly >
        </div>
        
        <a th:href="@{/map/list(page=${page})}">
        	<button type="button" class="btn btn-info">목록으로</button>
        </a>
         <a th:href="@{/map/modify(place = ${dto.place})}">
        	<button type="button" class="btn btn-primary">수정</button>
        </a>
        
		
	</th:block>
</th:block>